<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795668877372-meh00cg3qtufmbu4uu583mou3s7330ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795668877372-meh00cg3qtufmbu4uu583mou3s7330ie</string>
	<key>API_KEY</key>
	<string>AIzaSyD2v2lP9nmpN_UgBv8sErKcW3EQslRZhh4</string>
	<key>GCM_SENDER_ID</key>
	<string>795668877372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KennyChen.cis195final</string>
	<key>PROJECT_ID</key>
	<string>cis-195-final</string>
	<key>STORAGE_BUCKET</key>
	<string>cis-195-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795668877372:ios:4bc21fac71fa9198</string>
	<key>DATABASE_URL</key>
	<string>https://cis-195-final.firebaseio.com</string>
</dict>
</plist>